<link rel="stylesheet/less" type="text/css" href="home.less">
<div class="signaling-home">
	<div class="centering-padder">
		<p class="pitch-line">
			Já pensou viajar sem ter que se preocupar com passagens? A gente sim.
			Procuramos 24 horas por dia pela melhor passagem para você
			enquanto você arruma as malas e se prepara para a viagem ;)
		</p>
	</div>
	<div class="route-fields-area">
		<label class="route-origin-field">
			<span class="route-origin-field-label">
				Onde você está?
			</span>
			<select name="origin">
				<option>Porto Alegre, RS</option>
			</select>
		</label>
		<label class="route-destination-field">
			<span class="route-destination-field-label">
				Para onde gostaria de ir?
			</span>
			<select name="destination">
				<option>Campina Grande, PB</option>
			</select>
		</label>
	</div>
	<a class="route-choose-dates-link btn btn-default" href="/escolher-datas">
		Escolher datas &rarr;
	</a>
</div>
