<link rel="stylesheet/less" type="text/css" href="preço-e-email.less">
<div class="signaling-pricing-and-email">
	<div class="pricing-fields-area">
		<label class="pricing-field">
			<span class="pricing-field-label">
				Quanto você está disposto a pagar por esta viagem?
			</span>
			<span class="text-input-prefix">
				R$
			</span>
			<input class="form-control" type="spinner" min="100" name="price">
		</label>
	</div>
	<div class="email-fields-area">
		<label class="email-field">
			<span class="email-field-label">
				Você será avisado por e-mail quando uma passagem for encontrada.
			</span>
			<input class="form-control" type="email" name="email" placeholder="E-mail">
		</label>
	</div>
	<input class="btn btn-info" type="submit" value="Confirmar">
</div>
