<!doctype html>
<meta charset="utf8">
<title>
        AirOk &mdash; Passagens aéreas inteligentes
</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<link rel="stylesheet/less" type="text/css" href="shell.less">
<header class="site-header">
	<div class="centering-padder clearfix">
		<h1 class="site-title">
			<a trim href="/home">
				AirOk
			</a>
			<span class="site-slogan">
				&mdash; Passagens aéreas inteligentes
			</span>
		</h1>
		<a trim href="/sign-in" class="sign-in-button btn btn-danger">
			Entrar
		</a>
	</div>
</header>
<div id="content">
	{{&content}}
</div>
<script>
	$('[trim]').text
	(
		function (i, text)
		{
			return text.trim();
		}
	);
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
