<!doctype html>
<meta charset="utf8">
<title>
        AirOk &mdash; Passagens aéreas inteligentes
</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<style type="text/less">
	@a-fg-color: #e8e8e8;
	@import 'airok-mixins.less';
	body:before
	{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		background-image: url('ab-bg-resort.jpg');
		background-size: cover;
		opacity: 0.3;
	}
	body
	{
		font-family: Verdana, sans-serif;
	}
	:first-child
	{
		margin-top: 0;
	}
	:last-child
	{
		margin-bottom: 0;
	}
        .centering-padder
        {
                max-width: 1024px;
                .centering-margins();
        }
	.site-header
	{
		padding: 10px;
		background-image: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
		background-image: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	}
	.site-title
	{
		float: left;
		margin-bottom: 0;
		.padding-top-bottom(4px);
		font-size: 24px;
		font-weight: bold;
		color: @a-fg-color;
	}
	@media (max-width: 600px)
	{
		.site-slogan
		{
			display: none;
		}
	}
	.site-title > a
	{
		color: inherit;
	}
	.sign-in-button
	{
		float: right;
	}
</style>
<header class="site-header">
	<div class="centering-padder clearfix">
		<h1 class="site-title">
			<a trim href="/home">
				AirOk
			</a>
			<span class="site-slogan">
				&mdash; Passagens aéreas inteligentes
			</span>
		</h1>
		<a trim href="/sign-in" class="sign-in-button btn btn-danger">
			Entrar
		</a>
	</div>
</header>
<div id="content">
	{{&content}}
</div>
<script>
	$('[trim]').text
	(
		function (i, text)
		{
			return text.trim();
		}
	);
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
