<link rel="stylesheet/less" type="text/css" href="signal.less">
<form method="get" action="/signal" current-step="route" class="signaling-form">
	<div step="route">
		<div class="centering-padder">
			<p class="pitch-line">
				Já pensou viajar sem ter que se preocupar com passagens? A gente sim.
				Procuramos 24 horas por dia pela melhor passagem para você
				enquanto você arruma as malas e se prepara para a viagem ;)
			</p>
		</div>
		<div class="route-fields-area">
			<label class="route-origin-field">
				<span class="route-origin-field-label">
					Onde você está?
				</span>
				<select name="origin">
					<option>Porto Alegre, RS</option>
				</select>
			</label>
			<label class="route-destination-field">
				<span class="route-destination-field-label">
					Para onde gostaria de ir?
				</span>
				<select name="destination">
					<option>Campina Grande, PB</option>
				</select>
			</label>
		</div>
		<a class="route-choose-dates-link btn btn-default" onclick="$(this).parents('.signaling-form').attr('current-step', 'schedule')">
			Escolher datas &rarr;
		</a>
	</div>
	<div step="schedule">
		<div>
			<label class="schedule-departure-field">
				<span class="schedule-departure-field-label">
					Quando você quer sair?
				</span>
				<table calendar="departure" class="schedule-departure-calendar">
				</table>
			</label>
			<label class="schedule-return-field">
				<span class="schedule-return-field-label">
					Quando você quer voltar?
				</span>
				<table calendar="return" month="next" class="schedule-return-calendar">
				</table>
			</label>
		</div>
		<a class="schedule-change-route-link btn btn-default" onclick="$(this).parents('.signaling-form').attr('current-step', 'route')">
			&larr; Mudar trajeto
		</a>
		<a class="schedule-pricing-and-email-link btn btn-default" onclick="$(this).parents('.signaling-form').attr('current-step', 'pricing-and-email')">
			Especificar preços &rarr;
		</a>
	</div>
	<div step="pricing-and-email">
		<div class="pricing-fields-area">
			<label class="pricing-field">
				<span class="pricing-field-label">
					Quanto você está disposto a pagar por esta viagem?
				</span>
				<span class="text-input-prefix">
					R$
				</span>
				<input class="form-control" type="spinner" min="100" name="price">
			</label>
		</div>
		<div class="email-fields-area">
			<label class="email-field">
				<span class="email-field-label">
					Você será avisado por e-mail quando uma passagem for encontrada.
				</span>
				<input class="form-control" type="email" name="email" placeholder="E-mail">
			</label>
		</div>
		<input class="btn btn-info" type="submit" value="Confirmar">
	</div>
</form>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/pt-br.js"></script>
<script>
	function parse_month (month)
	{
		switch (month)
		{
			case 'this':
				month = moment();
				break;
			case 'next':
				month = moment().date(1).add('months', 1);
				break;
			case 'previous':
				month = moment().date(1).subtract('months', 1);
				break;
			default:
				var first_character = month.charAt(0);
				if (first_character === '+' || first_character === '-')
				{
					month = moment().add('months', parseInt(month));
				}
				else
				if (month.indexOf(',') !== -1)
				{
					month = moment(month, 'MMMM, YYYY');
				}
				else
				{
					month = moment(month, 'MMMM');
				}
				break;
		}
		return month.date(1);
	}
	$('[calendar]').each
	(
		function (i, calendar)
		{
			calendar = $(calendar);
			var name = calendar.attr('calendar');
			calendar.after('<input type="hidden" name="' + name + '">');
			var month = parse_month(calendar.attr('month') || 'this');
			var thead = calendar.children('thead');
			if (thead.length === 0)
			{
				calendar.prepend('<thead>');
				thead = calendar.children('thead');
			}
			thead.append
			(
				'<tr>'
					+ '<th colspan="7">'
						+ month.format('MMMM, YYYY', 'pt-br')
					+ '</th>'
				+ '</tr>'
			);
			thead.append
			(
				'<tr>'
					+ '<th>'
						+ "Seg Ter Qua Qui Sex Sáb Dom".replace(/ /g, '</th><th>')
					+ '</th>'
				+ '</tr>'
			);
			var tbody = calendar.children('tbody');
			if (tbody.length === 0)
			{
				calendar.append('<tbody>');
				tbody = calendar.children('tbody');
			}
			tbody.replaceWith
			(
				'<tbody>'
					+ new Array(6 + 1).join
					(
						'<tr>'
							+ new Array(7 + 1).join('<td></td>')
						+ '</tr>'
					)
				+ '</tbody>'
			);
			tbody = calendar.children('tbody');
			var first_day_of_the_week = month.weekday() - 1;
			function day_of_the_month_by_index (i)
			{
				if (i < first_day_of_the_week)
				{
					return month.clone().subtract('days', first_day_of_the_week - i).format('D');
				}
				else
				{
					return month.clone().add('days', i - first_day_of_the_week).format('D');
				}
			}
			tbody.find('td').attr('day', day_of_the_month_by_index).text(day_of_the_month_by_index);
			tbody.click
			(
				function (event)
				{
					var $target = $(event.target);
					$target.toggleClass('selected');
					var input = $target.parents('table').siblings();
					var date = month.clone().date($target.attr('day')).format('YYYYMMDD');
					if ($target.hasClass('selected'))
					{
						input.val
						(
							function (i, old_value)
							{
								return date + ',' + old_value;
							}
						);
					}
					else
					{
						input.val
						(
							function (i, old_value)
							{
								return old_value.replace(date + ',', '');
							}
						);
					}
				}
			);
		}
	);
</script>
