<style type="text/less">
	@import 'basis';
	#content
	{
		display: flex;
		align-items: center;
	}
	.signaling-form
	{
		flex-grow: 1;
		.margin-top-bottom(30px);

		& > [step-name]
		{
			text-align: center;
		}
		&:not([current-step="route"]) > [step-name="route"],
		&:not([current-step="schedule"]) > [step-name="schedule"]
		{
			display: none;
		}
		.pitch-line
		{
			margin-bottom: 40px;
			.padding-left-right(70px);
			line-height: 2em;
			font-size: 24px;
			font-weight: lighter;

			@media (max-width: 600px)
			{
				font-size: 18px;
			}
		}
		.fields-area
		{
			background-color: rgba(255, 255, 255, 0.4);
		}
		.origin-field,
		.destination-field
		{
			display: inline-block;
			width: 400px;
		}
		.origin-field
		{
			margin-top: 40px;
			margin-bottom: 20px;
		}
		.destination-field
		{
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.origin-field-label,
		.destination-field-label
		{
			display: block;
			font-size: 30px;
			font-weight: 200;

			@media (max-width: 600px)
			{
				font-size: 22px;
			}
		}
		[name="origin"],
		[name="destination"]
		{
			width: 250px;
			margin-top: 30px;
		}
		.next-button
		{
			margin-top: 40px;
			color: black;
			text-decoration: none;
		}
	}
</style>
<form method="get" action="/signal" current-step="route" class="signaling-form">
	<div step-name="route">
		<div class="centering-padder">
			<p class="pitch-line">
				Já pensou viajar sem ter que se preocupar com passagens? A gente sim.
				Procuramos 24 horas por dia pela melhor passagem para você
				enquanto você arruma as malas e se prepara para a viagem ;)
			</p>
		</div>
		<div class="fields-area">
			<label class="origin-field">
				<span class="origin-field-label">
					Onde você está?
				</span>
				<select name="origin">
					<option>Porto Alegre, RS</option>
				</select>
			</label>
			<label class="destination-field">
				<span class="destination-field-label">
					Para onde gostaria de ir?
				</span>
				<select name="destination">
					<option>Campina Grande, PB</option>
				</select>
			</label>
		</div>
		<a class="next-button btn btn-default" onclick="$(this).parents('.signaling-form').attr('current-step', 'schedule')">
			Escolher datas
		</a>
	</div>
	<div step-name="schedule">
		Not implemented.
	</div>
</form>
