<link rel="stylesheet/less" type="text/css" href="signal.less">
<form method="get" action="/signal" current-step="route" class="signaling-form">
	<div step-name="route">
		<div class="centering-padder">
			<p class="pitch-line">
				Já pensou viajar sem ter que se preocupar com passagens? A gente sim.
				Procuramos 24 horas por dia pela melhor passagem para você
				enquanto você arruma as malas e se prepara para a viagem ;)
			</p>
		</div>
		<div class="fields-area">
			<label class="origin-field">
				<span class="origin-field-label">
					Onde você está?
				</span>
				<select name="origin">
					<option>Porto Alegre, RS</option>
				</select>
			</label>
			<label class="destination-field">
				<span class="destination-field-label">
					Para onde gostaria de ir?
				</span>
				<select name="destination">
					<option>Campina Grande, PB</option>
				</select>
			</label>
		</div>
		<a class="next-button btn btn-default" onclick="$(this).parents('.signaling-form').attr('current-step', 'schedule')">
			Escolher datas
		</a>
	</div>
	<div step-name="schedule">
		Not implemented.
	</div>
</form>
