@import 'basis';
#content
{
	display: flex;
	align-items: center;
}
.signaling-form
{
	flex-grow: 1;
	.margin-top-bottom(30px);
	&:not([current-step="route"]) > [step="route"],
	&:not([current-step="schedule"]) > [step="schedule"]
	{
		display: none;
	}
	& > [step]
	{
		text-align: center;
	}
	.pitch-line
	{
		margin-bottom: 40px;
		.padding-left-right(70px);
		line-height: 2em;
		font-size: 24px;
		font-weight: lighter;
		@media (max-width: 600px)
		{
			font-size: 18px;
		}
	}
	.fields-area
	{
		background-color: rgba(255, 255, 255, 0.4);
	}
	.origin-field,
	.destination-field
	{
		display: inline-block;
		width: 400px;
	}
	.origin-field
	{
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.destination-field
	{
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.a-field-label
	{
		display: block;
		font-size: 30px;
		font-weight: 200;
		@media (max-width: 600px)
		{
			font-size: 22px;
		}
	}
	[name="origin"],
	[name="destination"]
	{
		width: 250px;
		margin-top: 30px;
	}
	.back-button,
	.next-button
	{
		width: 250px;
		margin-top: 30px;
		.margin-left-right(20px);
	}
	.calendar
	{
		margin-top: 15px;
		.margin-left-right(30px);
		border: 15px solid rgba(255, 255, 255, 0.2);
		border-collapse: separate;
		border-spacing: 1px;
		-moz-user-select: none;
		font-weight: lighter;
		& > thead > tr > th,
		& > tbody > tr > td
		{
			background-color: rgba(255, 255, 255, 0.4);
		}
		& > thead > tr > th
		{
			text-align: center;
		}
		& > tbody > tr > td
		{
			width: 50px;
			height: 50px;
		}
	}
}
